@import "common.scss";
$bgColor:#ff841d;
.container{
    display: flex;
    flex-direction: column;
    .main {
        height: 100%;
        display: flex;
        flex-direction: column;
        .search {
            height: 52px;
            background: #fff;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border-bottom: 1px solid #ddd;
            input {
                flex: 1;
                height: 30px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background: #f1f1f1;
                margin-left: 5px;
                padding-left: 10px;
                margin-bottom: 0;
                font-size: 14px;
            }
            button {
                flex-basis: 64px;
                height: 30px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                background: $bgColor;
                color: #fff;
                margin-left: -5px;
            }
        }
        .content {
            flex: 1;
            position: relative;
            .mui-table-view-cell {
                padding: 0;
                border: 1px solid #ddd;
                &::after {
                    content: "";
                    height: 0;
                }
                a {
                    &:not(.mui-btn) {
                        position: relative;
                        height: 41px;
                        padding: 0;
                        padding-left: 16px;
                        background: #ebebeb;
                        margin: 0;
                        line-height: 41px;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
            .mui-card {
               margin: 0;
               padding: 5px;
            }
            .mui-collapse-content {
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
                .lists {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 33.33333%;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-right: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        &:nth-child(3n) {
                            border-right: 0 none;
                        }
                    }
                }
            }
           
        }
    }
}
